snippet rc "React class component" 
import React, {Component} from 'react'

class MyComponent extends Component {
	state = {

	}

	render() {
		return (
		
		)
	}
}

export default MyComponent
endsnippet
