snippet af "Arrow function"
const $1 = () => {
	$2
}

endsnippet

snippet afa "Arrow function with arguments"
const $1 = ($2) => {
	$3
}

endsnippet

snippet cls "console.log string"
console.log('$1')
endsnippet

snippet cl "console.log value"
console.log('$1', $1)
endsnippet

snippet im "Import module"
import $1 from '${2:$1}'
endsnippet

snippet imd "Import destructured"
import {$1} from '$2'
endsnippet
